:root {
    /* Colors */
    --title-color: #343A40;
    --alert-color: #67808E;
    --default-color: #0A3871;
    --white-color: #FFFFFF;
    --background-color: #F3F5FC;
    --subtitle-color: #495057;
}

* {
    font-family: 'Inter', sans-serif;
}

body{
    background-color: var(--background-color);
}

header{
    margin-bottom: 5rem;
}

#logo {
    padding-top: 1.5rem;
    width: 1.5rem;
}

.container {
    padding: 0 1rem;
}

main {
    padding-bottom: 2.5rem;
}

#input{
    margin-bottom: 1rem;
}

#alert {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

#alert p {
    color: var(--title-color);
}

#input-text {
    width: 100%;
    border: none;
    resize: none;
    border-radius: 0.5rem;
    outline: none;
    margin-bottom: 4rem;
    background: white;
    padding: 1rem;
    font-size: 2rem;
    min-height: 30vh;
    color: var(--default-color);
}

#input-text::placeholder{
    color: var(--default-color);
}

.button-container{
    margin-bottom: 4rem;
}

.button {
    padding: 1.5rem 0;
    display: block;
    text-align: center;
    border-radius: 1.5rem;
    text-decoration: none;
    margin-bottom: 1rem;
    cursor: pointer;
}

#encrypt {
    border: 1px  solid var(--default-color);
    background-color: var(--default-color);
    color: var(--white-color);
}

#encrypt:hover {
    opacity: 0.9;
    transition: 0.4s;
}

.copy-decrypt {
    border: 1px  solid var(--default-color);
    color: var(--default-color);
    font-size: 1rem;
}

.copy-decrypt:hover {
    background-color: var(--default-color);
    color: var(--white-color);
    transition: 0.4s all;
}

#output{
    background-color: var(--white-color);
    padding: 2rem;
    border-radius: 2rem;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

#no-output {
    text-align: center;
}

#no-output img{
    display: none;
}

#no-output h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--title-color);
}

#no-output p {
    color: var(--subtitle-color);
}


#with-output{
    display: none;
    font-size: 1.5rem;
    flex-direction: column;
}

#output-text{
    margin-bottom: 2rem;
    word-wrap: break-word;
}

#footer {
    padding: 1.5rem 0;
    color: var(--title-color);
}

#footer p {
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    margin-bottom: 0.75rem;
}

#footer .social-media {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#footer .social-media a {
    text-align: center;
    font-size: 1.75rem;
    color: inherit;
}

@media only screen and (min-width: 768px) {

    .container {
        padding: 0 2.5rem;
    }

    .button-container{
        display: flex;
        gap: 1.5rem;
    }

    .button{
        width: 100%;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        display: grid;
        grid-template-columns: 1fr 10fr;
        gap: 3rem;
        grid-template-areas: 
        "header main"
        "footer footer";
        grid-template-rows: 1fr;
        row-gap: 0;
    }

    main .container{
        padding-top: 2rem;
        /* padding-bottom: rem; */
        grid-area: main;
        display: grid;
        grid-template-rows: 1fr 10fr;
        grid-template-columns: 5fr 3fr;
        grid-template-areas: 
        ". output"
        "input output";
        gap: 5rem;
        row-gap: 0;
    }

    header{
        grid-area: header;
    }

    .input-buttons{
        grid-area: input;
    }

    .button-container {
        margin-bottom: 0;
    }
    .button{
        width: 100%;
    }

    #input-text{
        min-height: 60vh;
    }

    #no-output img{
        display: block;
        width: 100%;
    }

    #output {
        flex-shrink: 0;
        min-height: 0; 
        min-width: 0;  
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: output;
    }

    #with-output {
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
    }
    #footer {
        grid-area: footer;
    }
}
